<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Home Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- <ion-content>
      <ion-list>
        <ion-item routerLink="/home" *ngIf="role==='Admin'">Home</ion-item>
        <ion-item routerLink="/dashboard">Dashboard</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content> 
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app> -->