.login-content {
    --background: none !important;
    --padding: 0;
    height: 100vh;
    background: linear-gradient(135deg,#2a5298, #c7d0e0);
    position: relative;
}

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.login-card {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;         

  padding: 25px;
  border-radius: 20px;
  background: rgba(41, 58, 99, 0.9);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

  box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /* make bold */
    color: #ffffff;
    margin-bottom: 10px;
}

.label-colored {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.input-item {
    margin-bottom: 15px;
    border-radius: 5px;
}

.input-colored {
    --background: #ffffff !important;
    color: #000000 !important;
    border-radius: 6px;
    padding: 10px;
    box-shadow: none !important;
}

.input-colored::part(native) {
    background: #ffffff !important;
    color: #000000 !important;
    outline: none !important;
    box-shadow: none !important;
}

ion-item.input-item {
    --highlight-color-focused: transparent !important;
    --ripple-color: transparent !important;
}


.login-btn {
    margin-top: 10px;
    --background: #2575fc;
    --color: #ffffff;
    border-radius: 8px;
}

ion-item.input-item {
  --background: transparent !important;   
  background: transparent !important;
  --highlight-color-focused: transparent !important;
  --ripple-color: transparent !important;
}

ion-label.label-colored {
  color: #ffffff !important;  
}

ion-item.input-item ion-label {
  color: #ffffff !important;
  background: transparent !important;
}

.forgot-password-link {
  text-align: center;
  margin-top: 10px;
}

.link-btn {
  --color: #e0e0ff;
  font-size: 14px;
  text-decoration: none;
}

.link-btn:hover {
  --color: #ffffff;
}