<ion-content fullscreen class="fp-content">
  <div class="fp-container">

    <div class="logo-wrapper">
      <div class="logo-circle">
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>

    <ion-card class="fp-card">
      <ion-card-header>
        <ion-card-title class="heading">Find Your Account</ion-card-title>
        <ion-card-subtitle class="sub-heading">
          Enter your email to receive a 6-digit OTP
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="input-group">
          <ion-icon name="mail-outline" class="field-icon"></ion-icon>
          <ion-input
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="Email address"
            class="custom-input">
          </ion-input>
        </div>

        <ion-button expand="block" class="action-btn" (click)="sendOtp()" [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent" style="margin-right:8px"></ion-spinner>
          <span *ngIf="!loading">Send OTP</span>
        </ion-button>

        <ion-button expand="block" fill="outline" class="back-btn" (click)="goBack()">
          Back to Login
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
