<ion-content fullscreen scrollEvents="true" class="store-content">

  <!-- Header -->
  <div class="page-header">
    <div class="header-top">
      <div class="header-icon">
        <ion-icon name="storefront-outline"></ion-icon>
      </div>
      <div class="header-text">
        <h1>Select Store</h1>
        <p>{{ filteredStores.length }} store{{ filteredStores.length !== 1 ? 's' : '' }} available</p>
      </div>
    </div>

    <!-- Search -->
    <div class="search-wrap">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input
        class="search-input"
        type="text"
        [(ngModel)]="searchText"
        (input)="filterStores()"
        placeholder="Search by store name or ID...">
      <ion-icon
        *ngIf="searchText"
        name="close-circle"
        class="clear-icon"
        (click)="searchText=''; filterStores()">
      </ion-icon>
    </div>
  </div>

  <!-- Store Grid -->
  <div class="store-grid" *ngIf="filteredStores.length > 0">
    <div class="store-card" *ngFor="let store of filteredStores" (click)="setStore(store)">
      <div class="card-left">
        <div class="store-avatar">
          {{ store.storeName?.charAt(0)?.toUpperCase() }}
        </div>
      </div>
      <div class="card-body">
        <div class="store-name">{{ store.storeName }}</div>
        <div class="store-meta">
          <span class="store-id-badge">
            <ion-icon name="barcode-outline"></ion-icon>
            {{ store.storeId }}
          </span>
        </div>
        <div class="store-address" *ngIf="store.address">
          <ion-icon name="location-outline"></ion-icon>
          <span>{{ store.address }}</span>
        </div>
      </div>
      <div class="card-right">
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
    </div>
  </div>


</ion-content>