<ion-header class="nav-header">
  <ion-toolbar class="top-bar">
    <div class="toolbar-row">

      <!-- Left: Brand -->
      <div class="toolbar-side">
        <div class="brand">
          <img class="brand-logo" src="assets/logo.png" alt="DocMate logo" />
          <span class="docmate" *ngIf="!showDetails">DocMate</span>
        </div>
      </div>

      <!-- Center: Store Name + Customer ID + Time -->
      <div class="center-content">
        <span class="store-name-text" *ngIf="selectedStoreNameDisplay && !isStorePage">{{ selectedStoreNameDisplay }}</span>
        <div class="chips-row" *ngIf="showDetails">
          <span class="store-id-chip" *ngIf="selectedStoreIdDisplay && !isStorePage">
            <ion-icon name="storefront-outline"></ion-icon>
            {{ selectedStoreIdDisplay }}
          </span>
          <span class="customer-id-chip">
            <ion-icon name="person-circle-outline"></ion-icon>
            <span class="cid-value">{{ customerId || '' }}</span>
          </span>
        </div>
        <div class="sub-info" *ngIf="showDetails">
          <div class="time-info">
            <span>{{ localDay }}</span> | <span>{{ localDate }}</span> | <span>{{ localTime }}</span>
          </div>
        </div>
      </div>

      <!-- Right: Logout -->
      <div class="toolbar-side right-side">
        <div class="right-stack">
          <button class="logout-btn" (click)="confirmLogout()">
            <ion-icon name="log-out-outline"></ion-icon>
            <span class="logout-label">Logout</span>
          </button>
        </div>
      </div>

    </div>
  </ion-toolbar>
</ion-header>
